/* Goole Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* Goole Font */

/* Root */
:root{
    --lato: 'Lato', sans-serif;
    
    --light:300;
    --regular:400;
    --bold:700;
    --black:900;

    --color_blue:#4bcaff;
    --color_ash-dark:#838383;
    --color_ash-light:#d7d7d7;
    --color_black-heading:#414042;
}
/* Root */

/* All Common Css Start */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: var(--lato);
}
ol,ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:red;
}
.shanto{
    z-index: 10;
}
.common_btn{
    text-transform: uppercase;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 23px 50px;
    font-size: 15px;
    font-weight: var(--bold);
    transition: all linear .3s;
}
.common_btn:hover{
    background: var(--color_blue);
    border: 2px solid transparent;
    border-bottom: 3px solid #277697;
    color: #fff;
}
.common_heading h3{
    font-size: 36px;
    font-weight: var(--black);
    color: var(--color_black-heading);
    text-transform: capitalize;
}
.common_heading p{
    font-size: 20px;
    font-weight: var(--light);
    color: var(--color_black-heading);
}
/* All Common Css End */


/* <!-- Nav Start --> */
#navbar{
    padding: 30px 0;
    background: #131e29;
    position: absolute;
    width: 100%;
    top: 0;
    left: 50% ;
    transform: translateX(-50%);
    z-index: 999;
}
#navbar.sticky_menu{
    background: rgba(19, 30, 41, 0.9);
    position: fixed;
    animation: sticky .4s linear;

}
@keyframes sticky {
    0%{
        top: -100px;
    }
    100%{
        top: 0;
    }
}
#navbar ul li{
    padding: 10px 17px 0;
}
#navbar ul li a{
    font-weight: var(--bold) ;
    font-size:13px ;
    color:#fff ;
    text-transform: uppercase;
    transition: all linear .3s;
}
#navbar ul li a:hover{
    color:var(--color_blue);
}
/* <!-- Nav End --> */


/* <!-- Banner Start --> */
#banner{
    background: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    position: relative;
}
#banner .image{
    position: absolute ;
    bottom: 0;
    left: 0;
}
#banner .image img{
    width:55%;
}
#banner .info{
    padding: 250px 0 115px;
}
#banner .info h1{
    font-size: 48px;
    font-weight: var(--light);
    color: #fff;
}
#banner .info h1 span{
    font-weight: var(--bold);
}
#banner .info p{
    font-weight: var(--light);
    font-size: 18px;
    color: #fff;
    padding: 30px 0;
}
#banner .info .btn a{
    margin-left: -10px;
    margin-right: 20px;
    
}
#banner .info .social_btn{
    padding-top: 70px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}
#banner .info .social_btn h6{
    font-weight: var(--light);
    font-size: 18px;
    color: #fff;
}
#banner .info .social_btn .icon a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #16191e80;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* <!-- Banner End --> */


/* <!-- Feature Start --> */
#feature{
    padding: 50px 0;
    background: #f9f9f9;
}
#feature .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 70px 0;
}
#feature .item:hover{
    cursor: pointer;
}
#feature .item .icon{
    width: 160px;
    height: 160px;
    background: var(--color_blue);
    border: 4px solid #efefef;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear .3s;
}
#feature .item:hover .icon{
    box-shadow: 0 0 10px 10px #efefef;
}
#feature .item .icon i{
    color: #fff;
    font-size: 70px;
    
}
#feature .item .text h5{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: var(--bold);
    color: var(--color_black-heading);
    padding: 20px 0;
    transition: all linear .3s;
}
#feature .item:hover .text h5{
    color: var(--color_blue);
}
#feature .item .text p{
    color: var(--color_ash-dark);
    font-size: 13px;
    font-weight: var(--regular);
    padding: 0 40px;
}

/* <!-- Feature End --> */


/* <!-- Gallery Start --> */
#gallery{
    padding: 50px 0;
}
#gallery .item{
    margin-top: 70px;
}
#gallery .item:hover{
    cursor: pointer;
}
#gallery .item .photo{
    background: var(--color_blue);
    width: 270px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
#gallery .item .photo .image{}
#gallery .item .photo .text{
    background: #447084;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
#gallery .item .photo .text h4{
    text-transform: uppercase;
    color:var(--color_blue) ;
    font-size: 15px;
    font-weight: var(--bold);
    padding: 10px 0 5px;
}
#gallery .item .info p{
    font-size: 13px;
    font-weight: var(--regular);
    color: var(--color_ash-dark);
    padding: 20px 40px;
    text-align: center;
}
/* <!-- Gallery End --> */


/* <!-- Video Start --> */
#video{
    background: url(../images/action.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0 200px;
}
#video .heading h2{
    font-size: 48px;
    font-weight: var(--light);
    color: #fff;
    
}
#video .heading h2 span{
    font-weight: var(--bold);

}
#video .info{
    padding: 0 100px;
    padding-top: 30px;
}
#video .info p{
    font-size: 18px;
    font-weight: var(--regular);
    color: #fff;
}
/* <!-- Video End --> */


/* <!-- Price Start --> */
#price{
    padding: 50px 0;
    border-bottom: 1px solid #e7e7e7;
}
#price .item{
    margin: 60px 0;
    padding: 30px 0;
    background: #f9f9f9;
    border: 1px solid #dad7d7;
    border-radius: 4px;
    transition: all linear .3s;
    cursor: pointer;
}
#price .item:hover{
    transform: scale(1.15);
}
#price .item .title h5{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: var(--bold);
    color: #d7d7d7;
    transition: all linear .3s;
}
#price .item .number h3{
    font-weight: var(--bold);
    font-size: 85px;
    color: #fff;
    margin: 30px 0;
}
#price .item .details ul{
    padding: 0;
}
#price .item .details ul li{
    font-size: 18px;
    font-weight: var(--bold);
    color: #d7d7d7;
    padding: 10px 0;
    transition: all linear .3s;
}
#price .item .btn{
    margin: 10px 0;
}
#price .item .btn a{ 
    font-size: 15px;
    text-transform: uppercase;
    font-weight: var(--bold);
    color: #fff;
    padding: 18px 40px;
    border-radius: 4px;

}
.b_green{
    background: #91c46b;
}
.p_blue{
    background: var(--color_blue);
}
.a_orange{
    background: #fd7c00;
}

#price .item.b_item:hover .title h5{
    color: #91c46b;
}
#price .item.p_item:hover .title h5{
    color: var(--color_blue);
}
#price .item.a_item:hover .title h5{
    color: #fd7c00;
}

#price .item.b_item:hover .details ul li{
    color: #91c46b;
}
#price .item.p_item:hover .details ul li{
    color: var(--color_blue);
}
#price .item.a_item:hover .details ul li{
    color: #fd7c00;
}
/* <!-- Price End --> */


/* <!-- testimonial Start --> */
#testimonial{
    padding: 50px 0;
}
#testimonial .icon{
    margin: 40px 0;
}
#testimonial .text{
    padding-top: 45px;
}
#testimonial .text p{
    font-size: 14px;
    font-weight: var(--bold);
    color: var(--color_blue);
}
#testimonial .text h5{
    text-align: right;
    font-size: 14px;
    font-weight: var(--bold);
    color: var(--color_blue);
    font-style: italic;
}
#testimonial .text h6{
    text-align: right;
    font-size: 14px;
    font-weight: var(--bold);
    color: var(--color_blue);
    font-style: italic;
}
/* <!-- testimonial End --> */


/* <!-- Download Start --> */
#download{
    background: var(--color_black-heading);
    padding: 35px 0;
}
#download .text{
    padding-bottom: 40px;
}
#download .text h3{
    font-weight:var(--bold);
    font-size: 55px;
    color: #fff;
}
#download .btn{
    padding-bottom: 25px;
}
#download .btn a{
    color: var(--color_black-heading);
    background: var(--color_blue);
    border: 2px solid transparent;
    border-bottom: 3px solid #277697;
}
/* <!-- Download End --> */


/* <!-- Map Start --> */
#map{
    background: url(../images/map.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 110px 0;
}
#map .form{
    background: rgba(75, 201, 255, 0.8);
    padding: 30px 0 0;
    border-radius: 4px;
    border: 2px solid transparent;
}
#map .form form{}
#map .form form h4{
    color: #fff;
    font-weight: var(--bold);
    font-size: 36px;
    text-transform: capitalize;
    text-align: center;
}
#map .form form{
    padding: 14px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#map .form form input{
    width: 320px;
    margin: 12px 0;
    padding: 12px 0;
    text-align: center;
    flex-wrap: wrap;
    border-radius: 4px;
    border: none;
}
#map .form form input.msg{
    padding-bottom:145px ;
}
#map .form form button{
    margin: 15px 0;
    padding: 18px 80px;
    text-align: center;
    background: var(--color_black-heading);
    color: var(--color_blue);
    border: none;
    border-radius: 4px;
    border-bottom: 4px solid #000;
}
::placeholder{
    color: var(--color_ash-light);
}

/* <!-- Map End --> */


/* <!-- Copyright Start --> */
#copyright{
    background: var(--color_black-heading);
    padding: 40px 0 20px;
}
#copyright .text p{
    color: #fefefe;
    font-size: 12px;
    font-weight: var(--regular);
}
/* <!-- Copyright End --> */


/* <!-- Top Start --> */
.top{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background:var(--color_blue);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 40px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
}
.top a{
    color: #fff;
}
.top.top_btn{
    opacity: 1;
    visibility: visible;
    animation: top .4s linear;
}
@keyframes top {
    0%{
        bottom: 0;
    }
    100%{
        bottom:40px;
    }
}
/* <!-- Top End --> */


